@font-face{
    font-family: LatoB;
    src: url(../fonts/fonts/Lato-Bold.woff) format('woff'),
    url(../fonts/fonts/Lato-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}