.header {
  width: 100%;
  height: 120px;
  background-color: #eeebec;
  display: flex;
  align-items: center;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-header ul li ul li {
  position: relative;
}

.nav-header ul li ul li .ul-1 {
  position: absolute;
  left: -25px;
  top: 1px;
  display: none;
}

.nav-header li:hover .ul-1 {
  display: block;
}

.nav-header ul li ul li .ul-2 {
  position: absolute;
  right: -68px;
  top: 1px;
  width: 158px;
  display: none;
}

.nav-header li:hover .ul-2 {
  display: block;
}

.nav-header h1 a {
  display: inline;
  font-family: RammettoOne-Regular;
  font-size: 30px;
  color: #cb3362;
}

.nav-header img {
  position: relative;
  left: 120px;
  bottom: 20px;
}

.nav-header h1 a span {
  color: #c8c10d;
}

.nav-header ul {
  position: relative;
  left: 30%;
}

.nav-header ul li {
  float: left;
  padding: 0 25px;
}

.nav-header ul li a {
  font-family: LatoB;
  color: #7a6666;
  transition: all 0.2s linear;
}

.nav-header .active {
  color: #cb3362;
}

.nav-header ul li a:hover {
  color: #c8c10d;
}
