@import url(./fonts.css);
@import url(./header.css);
@import url(./containerBody.css);
@import url(./nevProduct.css);
@import url(./nevProduct-2.css);
@import url(./footer.css);
@import url(./style_about/style.css);
@import url(./product.css);
@import url(./single_post.css);
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
}

a{
    text-decoration: none;
}
 